<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>新しい単語 - エイ単語覚えるマン</title>
    <link href="main.css" rel="stylesheet", type="text/css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script>
      window.session_info = <%= json %>; 
    </script>
    <script src="common.js"></script>
    <script src="register.js"></script>
  </head>
  <body>
    <div id="whole_wrapper">
      <div id="contents_wrapper">
        <div id="contents">
          <h1>Register new words.</h1>
          <br><br>
          <span class="red">*</span> : required<br>
          <table id="register_table">
            <tr><td>English <span class="red">*</span></td><td><input type="text" id="english"></td></tr>
            <tr><td>Japanese <span class="red">*</span></td><td><input type="text" id="japanese"></td></tr>
            <tr><td>Example </td><td><textarea id="example" cols="40" rows="5"></textarea></td></tr>
          </table>
          <div id="next_button">
            <img src="next_button.png" width="200px" height="200px" title="next">
          </div>
        </div>
      </div>
      <div id="bar_wrapper">
        <div id="user_area">
          <div id="user_icon"><img src="" width="36px" height="36px"></div>
          <div id="logout"><h3>LOGOUT</h3></div>
        </div>
      </div>
    </div>
  </body>
</html>

