<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>問題 - エイ単語覚えるマン</title>
    <link href="main.css" rel="stylesheet", type="text/css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script>
      window.session_info = <%= json %>;
    </script>
    <script src="common.js"></script>
    <script src="statistics.js"></script>
  </head>
  <body>
    <div id="whole_wrapper">
      <div id="contents_wrapper">
        <div id="contents">
          <div id="statistics">
            <h1>Statistics</h1> 
            <svg></svg>
            <table id="statistics_table">
              <tr><td>username</td><td id="username"></td></tr>
              <tr><td>solved</td><td id="solved_value"></td></tr>
              <tr><td>unsolved</td><td id="unsolved_value"></td></tr>
              <tr><td>rank</td><td id="rank">(not implemented)</td></tr>
            </table>
          </div>
        </div>
      </div>
      <div id="bar_wrapper">
        <div id="user_area">
          <div id="user_icon"><a href="statistics"><img src="" width="36px" height="36px" title="statistics"></a></div>
          <div id="logout"><h3>LOGOUT</h3></div>
        </div>
      </div>
    </div>
  </body>
</html>
